<form [formGroup] = "loginForm">
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="text" placeholder="Username" formControlName="username" required>
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput type="password" placeholder="Password" formControlName="password" required>
    </mat-form-field>
  </div>
  <!--<div class="mb-3">
    <mat-checkbox>Remember Me</mat-checkbox>
    <span fxFlex></span> <a [routerLink]="['/session/forgot-password']">Forgot Password?</a>
  </div>[routerLink]="['/admin-panel']-->
  <button color="accent" class="button-lg mb-3" type="button" mat-raised-button (click)="sendLogin()">Sign In</button>
  <!--<p>Don't have an account? <a [routerLink]="['/session/signup']">Click here to create one</a></p>-->
</form>